.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    text-align: center;
}

.button {
    position: absolute;
    top: 1rem;
    background-color: #1976d2;
    color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &:hover {
        background-color: #63a4ff;
        color: #000000;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
